@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.logo, h2, h3, h4 {
    font-family: "Rancho", cursive;
    letter-spacing: 1px;
}

.heading-font {
    font-family: "Rancho", cursive;
    letter-spacing: 1px;
}

.active {
    color: #EF4444;
    border-bottom: 2px solid #EF4444;
}

.text-red {
    color: #EF4444;
}
.bg-red {
    background-color: #EF4444;
}








/* banner swipper slider css start  */

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*   
  body {
    background: #000;
    color: #000;
  } */
  
  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* banner swipper slider css end  */
  