@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.logo, h2, h3, h4 {
    font-family: "Rancho", cursive;
    letter-spacing: 1px;
}

.heading-font {
    font-family: "Rancho", cursive;
    letter-spacing: 1px;
}

.active {
    color: #EF4444;
    border-bottom: 2px solid #EF4444;
}

.text-red {
    color: #EF4444;
}
.bg-red {
    background-color: #EF4444;
}

/* modal box css */

.modal-box {
  max-width: 900px !important;
}

/* btn css  */

.btn-overlay::after {
  content: '';
  width: 0%;
  height: 0%;
  background-color: #EF4444;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .5s;
  z-index: 10;
}
.btn-overlay:hover::after {
  width: 50%;
  height: 100%;
  transition: .5s;
}


.btn-overlay::before {
  content: '';
  width: 0%;
  height: 0%;
  background-color: #EF4444;
  position: absolute;
  top: 0;
  right: 0;
  transition: .5s;
  z-index: 10;
}
.btn-overlay:hover::before {
  width: 50%;
  height: 100%;
  transition: .5s;
}


.btn-overlay2::after {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #EF4444;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .5s;
  z-index: 10;
}
.btn-overlay2:hover::after {
  width: 0%;
  height: 0%;
  transition: .5s;
}


.btn-overlay2::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #EF4444;
  position: absolute;
  top: 0;
  right: 0;
  transition: .5s;
  z-index: 10;
}
.btn-overlay2:hover::before {
  width: 0%;
  height: 0%;
  transition: .5s;
}

.card-lavel {
  clip-path: polygon(9% 0, 90% 3%, 100% 94%, 0 100%)
}


/* banner css  */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.slide1 {
  background: url('./assets/indonesia.jpg') no-repeat center center/cover;
}
.slide2 {
  background: url('./assets/banner1.jpg') no-repeat center center/cover;
}
.slide3 {
  background: url('./assets/banner2.jpg') no-repeat center center/cover;
}
.slide4 {
  background: url('./assets/banner3.jpg') no-repeat center center/cover;
}
.banner {
  background: url('./assets/banner4.png') no-repeat center center/cover;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background-color: #EF4444 !important;
    margin-bottom: 30px !important;
}

.banner-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #161515c5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}


/* banner css end  */

/* blog  */

.blog {
  background-image: url('https://source.unsplash.com/random/640x480'); background-position: center center; 
  background-blend-mode: multiply; 
  background-size: cover
}



